<html>
    <body>
         <h1>Hello, world </h1>
         <h3>Sever     : <%= node['hostname'] %></h3>
         <h3>IPaddress : <%= node['ipaddress'] %></h3>
         <img src="remote_img.jpg" alt="Italian Trulli" style="width:300px;height:300px;">
  </body>
</html>
